In [105]:
cd ~/desktop

/Users/lamaemaharaj/Desktop

In [106]:
import pandas as pd
import mysql.connector
import re

In [107]:
df = pd.read_csv('RegionData.csv')
pd.set_option('display.float_format', '{:.2f}'.format)
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 2 to 263
Data columns (total 11 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country Name                                                  93 non-null     object
 1   Region Code                                                   93 non-null     object
 2   Country Code                                                  93 non-null     object
 3   GDP, PPP (current international $)                            93 non-null     object
 4    Population, total                                            93 non-null     object
 5   Population CGR 1960-2015                                      93 non-null     object
 6   Internet users (per 100 people)                               93 non-null     float64
 7   Popltn Largest City % of Urban Pop                            93 non-null     object
 8   2014 Life expectancy at birth, total (years)                  93 non-null     float64
 9   Literacy rate, adult female (% of females ages 15 and above)  93 non-null     float64
 10  Exports of goods and services (% of GDP)                      93 non-null     float64
dtypes: float64(4), object(7)
memory usage: 8.7+ KB

In [108]:
df.rename(columns={df.columns[4]: 'Population'}, inplace=True)
df.rename(columns={df.columns[7]: 'Popltn_Largest_City_Urban_Pop'}, inplace=True)

In [109]:
df['GDP, PPP (current international $)'] = df['GDP, PPP (current international $)'].apply(lambda x: re.sub('[^0-9.]', '', str(x)))
df['Population'] = df['Population'].apply(lambda x: re.sub('[^0-9.]', '', str(x)))
df['Population CGR 1960-2015'] = df['Population CGR 1960-2015'].apply(lambda x: re.sub('[^0-9.]', '', str(x)))
df['Popltn_Largest_City_Urban_Pop'] = df['Popltn_Largest_City_Urban_Pop'].apply(lambda x: re.sub('[^0-9.]', '', str(x)))
cols_to_convert = ['GDP, PPP (current international $)','Population', 'Population CGR 1960-2015','Popltn_Largest_City_Urban_Pop']
df[cols_to_convert] = df[cols_to_convert].astype(float)
df

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)",Population,Population CGR 1960-2015,Internet users (per 100 people),Popltn_Largest_City_Urban_Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
2,Afghanistan,ME,AFG,62912669167.00,32526562.00,2.36,8.30,53.40,60.40,23.87,0.07
3,Angola,AF,AGO,184437662368.00,25021974.00,2.87,12.40,50.00,52.30,60.74,0.37
4,Albania,EU,ALB,32663238936.00,2889167.00,1.07,63.30,27.30,77.80,96.77,0.27
7,Argentina,SA,ARG,882358844160.00,43416755.00,1.36,69.40,38.10,76.20,98.13,0.11
8,Armenia,RU,ARM,25329201238.00,3017712.00,0.88,58.20,55.20,74.70,99.73,0.30
...,...,...,...,...,...,...,...,...,...,...,...
249,Uzbekistan,ME,UZB,187667827321.00,31299500.00,2.34,42.80,19.80,68.30,100.00,0.21
254,Vietnam,SE,VNM,552297374128.00,91703800.00,1.78,52.70,23.70,75.60,92.84,0.90
260,South Africa,AF,ZAF,723515991686.00,54956920.00,2.11,51.90,26.40,57.20,93.43,0.31
261,"Congo, Dem. Rep.",AF,COD,60482256092.00,77266814.00,2.99,3.80,35.30,58.70,65.90,0.29
263,Zimbabwe,AF,ZWE,27984877195.00,15602751.00,2.62,16.40,29.70,57.50,85.29,0.26

In [110]:
df

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)",Population,Population CGR 1960-2015,Internet users (per 100 people),Popltn_Largest_City_Urban_Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
2,Afghanistan,ME,AFG,62912669167.00,32526562.00,2.36,8.30,53.40,60.40,23.87,0.07
3,Angola,AF,AGO,184437662368.00,25021974.00,2.87,12.40,50.00,52.30,60.74,0.37
4,Albania,EU,ALB,32663238936.00,2889167.00,1.07,63.30,27.30,77.80,96.77,0.27
7,Argentina,SA,ARG,882358844160.00,43416755.00,1.36,69.40,38.10,76.20,98.13,0.11
8,Armenia,RU,ARM,25329201238.00,3017712.00,0.88,58.20,55.20,74.70,99.73,0.30
...,...,...,...,...,...,...,...,...,...,...,...
249,Uzbekistan,ME,UZB,187667827321.00,31299500.00,2.34,42.80,19.80,68.30,100.00,0.21
254,Vietnam,SE,VNM,552297374128.00,91703800.00,1.78,52.70,23.70,75.60,92.84,0.90
260,South Africa,AF,ZAF,723515991686.00,54956920.00,2.11,51.90,26.40,57.20,93.43,0.31
261,"Congo, Dem. Rep.",AF,COD,60482256092.00,77266814.00,2.99,3.80,35.30,58.70,65.90,0.29
263,Zimbabwe,AF,ZWE,27984877195.00,15602751.00,2.62,16.40,29.70,57.50,85.29,0.26

In [111]:
connection = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',
    password='***************',
    database='worldbank'
)

In [112]:
# Specify the table name in the database
table_name = 'region_data1'

# Create a cursor object
cursor = connection.cursor()

# Create the table in the database (if it doesn't exist)
create_table_query = """
CREATE TABLE IF NOT EXISTS {table_name} (
    Country_Name VARCHAR(255),
    Region_Code VARCHAR(255),
    Country_Code VARCHAR(255),
    GDP_PPP DECIMAL(18, 2),
    Population INT,
    Population_CGR FLOAT,
    Internet_Users FLOAT,
    Popltn_Largest_City_Urban_Pop DECIMAL(18, 2),
    Life_Expectancy DECIMAL(18, 2),
    Literacy_Rate DECIMAL(18, 2),
    Exports DECIMAL(18, 2)
);
""".format(table_name=table_name)
cursor.execute(create_table_query)

In [116]:
# Insert the DataFrame into the MySQL database
for _, row in df.iterrows():
    insert_query = """
    INSERT INTO {table_name} (
        Country_Name, Region_Code, Country_Code, GDP_PPP, Population,
        Population_CGR, Internet_Users, Popltn_Largest_City_Urban_Pop,
        Life_Expectancy, Literacy_Rate, Exports
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """.format(table_name=table_name)
for _, row in df.iterrows():
    values = (
        row['Country Name'], row['Region Code'], row['Country Code'],
        row['GDP, PPP (current international $)'], row['Population'],
        row['Population CGR 1960-2015'], row['Internet users (per 100 people)'],
        row['Popltn_Largest_City_Urban_Pop'],
        row['2014 Life expectancy at birth, total (years)'],
        row['Literacy rate, adult female (% of females ages 15 and above)'],
        row['Exports of goods and services (% of GDP)']
    )
    cursor.execute(insert_query, values)

# Commit the changes and close the connection
connection.commit()
connection.close()